/* desktop version */

@media (min-width: 1170px) {
  /* Page-header */

  .page-header__logo {
    margin-left: 98px;
  }

  /* main-nav */

  .main-nav__list {
    margin-right: 100px;
  }

  /* page-promo */

  .page-promo {
    padding-top: 223px;
    padding-bottom: 117px;

    text-align: left;

    background-image: url("../img/background-desktop.svg"), url("../img/background-promo-block-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: -560px -150px, center;
    background-size: cover;
  }

  @media (min-resolution: 1.5dppx) {
    .page-promo {
      background-image: url("../img/background-desktop.svg"), url("../img/background-promo-block-desktop@2x.png");
    }
  }

  .page-promo__wrapper {
    padding-left: 115px;
  }

  .page-promo__link {
    margin-left: 0;
  }

  /* features */

  .features {
    padding-top: 102px;
  }

  .features::before {
    top: 10px;
    right: -80px;

    width: 400px;
    height: 345px;

    background-size: 454px 425px;
  }

  .features__heading {
    margin-bottom: 60px;
  }

  .features__item {
    width: 370px;
    padding: 126px 31px 29px 30px;
    margin-bottom: 20px;

    background-position: 30px 30px;
    background-size: 91px 91px;
  }

  .features__item-heading {
    margin-bottom: 8px;

    font-size: 22px;
    line-height: 31px;
  }

  .features__item--video {
    padding-right: 80px;
  }

  .features__item--taxi {
    padding-right: 85px;
  }

  .features__item--food {
    padding-bottom: 71px;
    margin-right: 0;
  }

  .features__item--walk {
    padding-right: 50px;
  }

  .features__item--medcine {
    padding-right: 30px;
  }

  .features__description--temperature {
    width: 270px;
  }

  /* rooms */

  .rooms {
    padding-top: 81px;
  }

  .rooms::before {
    top: 125px;

    width: 483px;
    height: 160px;

    background-size: 480px 200px;
  }

  .rooms__wrapper {
    max-width: 1060px;
  }

  .rooms__heading {
    margin-bottom: 61px;
  }

  .rooms__picture {
    width: 600px;
    height: 404px;
  }

  .room__description {
    padding: 36px 118px 35px 100px;
    margin: 60px auto 70px -70px;
  }

  .rooms__item-heading {
    font-size: 22px;
    line-height: 26px;
  }

  .rooms__list {
    padding-top: 16px;

    font-size: 16px;
    line-height: 19px;
  }

  .rooms__list-item {
    margin-bottom: 15px;
  }

  .rooms__list-item::before {
    width: 13px;
    height: 13px;
  }

  /* slider */

  .slider {
    position: relative;
  }

  .slider__button {
    position: absolute;
    top: -12px;

    display: block;

    width: 36px;
    height: 36px;
    padding: 0;

    background-color: #FFFFFF;
    background-repeat: no-repeat;

    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
    border: 0;
    border-radius: 50%;

    transition: 0.3s linear;
    outline: none;
  }

  .slider__button--left {
    left: 463px;

    background-image: url("../img/button-left.svg");
    background-position: 14px 13px;
  }

  .slider__button--right {
    left: 509px;

    background-image: url("../img/button-right.svg");
    background-position: 16px 13px;
  }

  .slider__button:hover,
  .slider__button:focus {
    background-color: #FF7236;
    cursor: pointer;
  }

  .slider__button--left:hover,
  .slider__button--left:focus {
    background-image: url("../img/button-left-hover.svg");
  }

  .slider__button--right:hover,
  .slider__button--right:focus {
    background-image: url("../img/button-right-hover.svg");
  }

  .slider__button:active {
    opacity: 0.5;

    outline: none;
  }

  /* reviews */
  .reviews {
    padding-top: 68px;
    padding-bottom: 97px;
  }

  .reviews::before {
    top: -22px;
    right: -44px;

    width: 300px;
    height: 345px;

    background-size: 410px 400px;
  }

  .reviews__heading {
    margin-bottom: 61px;
  }

  .reviews__item {
    min-width: 470px;
    padding: 31px 21px 32px 70px;
    margin: 0;
    margin-right: 30px;
  }

  .reviews__item:first-child {
    margin-left: 98px;
  }

  .reviews__text {
    width: 365px;

    font-size: 16px;
    line-height: 22px;
  }

  .reviews__slider {
    margin: 55px auto;
  }

  /* contacts */

  .contacts__wrapper {
    padding: 0 45px 29px;
    margin-right: 45px;
    margin-left: auto;
  }

  .contacts__heading {
    margin-top: 25px;
    margin-bottom: 38px;

    text-align: left;
  }

  .contacts__item a,
  .contacts__item p {
    margin-bottom: 30px;
  }

  .contacts__map {
    width: 58.5%;
    height: 594px;
  }

  /* footer */

  .footer__logo {
    margin-left: 198px;
  }

  .footer__list {
    margin-right: 200px;
  }

  /* copyright */

  .copyright {
    margin-right: 200px;
    margin-left: 198px;
  }

  /* catalog.html */

  /* wrapper */

  .wrapper {
    width: 1170px;
  }

  /* page-heading */

  .page-heading {
    display: inline-block;
    padding: 136px 0 48px;

    font-size: 36px;
    line-height: 43px;
  }

  /* catalog-wrapper */

  .catalog-wrapper {
    display: flex;
  }

  /* filters */

  .filters {
    position: relative;
    top: 0;
    right: 0;

    margin: 0;
    margin-right: 10px;
  }

  .filters__open,
  .filters__close {
    display: none;
  }

  .filters__form-wrapper,
  .filters__form-wrapper--opened {
    position: relative;

    display: block;
    box-sizing: border-box;
    width: 290px;
    padding: 0;

    background-color: #FFFEFD;
    box-shadow: none;
  }

  /* form */

  .form__price legend {
    margin-bottom: 17px;
  }

  .form__square legend,
  .form__features legend {
    margin-bottom: 14px;
  }

  .form__input {
    width: 80px;
    padding: 2px 14px 3px 4px;
    margin-right: 7px;
    margin-bottom: 10px;
  }

  .form .form__price {
    margin-bottom: 21px;
  }

  .form .form__square {
    margin-bottom: 19px;
  }

  .form .form__features {
    margin-bottom: 25px;
  }

  .form__button {
    width: 185px;
  }

  /* checkbox */

  .checkbox {
    padding-left: 30px;
    margin-bottom: 14px;
  }

  .checkbox--features {
  margin-bottom: 9px;
}

  .checkbox__icon {
    top: 3px;
    left: 0;

    width: 18px;
    height: 18px;
  }

  /*select */

  .select {
    top: 128px;
    right: 0;
  }

  /* cards */

  .cards__wrapper {
    max-width: 870px;
    padding: 4px 0;
  }

  .cards__item {
    width: 270px;
    margin-bottom: 30px;
  }

  .cards__item img {
    width: 270px;
    height: 185px;
  }

  .cards__description {
    padding: 20px 17px 24px 19px;
    margin-top: -5px;
  }


  .cards__link {
    width: 118px;
    padding-left: 50px;

    background-position: 189px;
  }

  /* promotion */

  .promo {
    width: 1170px;
    height: 379px;
    padding: 63px 269px;
    margin-top: 107px;
    margin-bottom: 140px;

    background-image: url("../img/promotion-desktop@1x.jpg");
  }

  .promo::before {
    top: -38px;
    left: -19px;

    width: 250px;
    height: 256px;

    background-size: 320px;
  }

  @media (min-resolution: 1.5dppx) {
    .promo {
      background-image: url("../img/promotion-desktop@2x.jpg");
      background-size: 1170px 379px;
    }
  }

  .promo p {
    margin-bottom: 31px;
  }
}


@media (min-width: 1530px) {
  /* reviews для больших экранов */
  .reviews__slider {
    display: none;
  }

  .reviews__item:first-child {
    margin-left: 30px;
  }

  .reviews__wrapper {
    max-width: 1530px;
    margin: 0 auto;
  }
}
